<div class="divider"></div>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="post">
      <!-- <div class="row"> -->
        <h4 class="post-title inline">
          {{post.title}}
        </h4>
      <!-- </div> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"> -->
          <p class="post-author inline"> by {{post.author}},  {{post.location}}</p>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
