#nav-spacer {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.post-author, .post-title {
  display: inline;
}

a:hover {
  text-decoration: none;
}
