<nav class="navbar navbar-nav navbar-fixed-top clearfix">
  <div class="container">
    <div class="brand">
      {{#link-to 'index'}}
        <div class="header-name">
          <h3>LOSTNOMO</h3>
        </div>
      {{/link-to}}
    </div>
    <!-- <ul>
      <li>
        {{#link-to 'about'}}ABOUT{{/link-to}}
      </li>
      <li>
        {{#link-to 'contact'}}CONTACT{{/link-to}}
      </li>
      <li>
        {{#link-to 'admin'}}ADMIN{{/link-to}}
      </li>
    </ul> -->
  </div>
</nav>

<div id="nav-spacer"></div>

{{outlet}}
